flows/ARTT_Send_Back_to_RO_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>sends email with populated subject and body from input screen.</description>
        <name>Send_Email_to_RO</name>
        <label>Send Email to RO</label>
        <locationX>1361</locationX>
        <locationY>690</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Bypass_Validation_to_False</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Provide_Reasoning_for_Sending_the_Award_Back_to_the_RO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vRO_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RO_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>Is the award in an eligible status to send the award back to the RO? Eligible Statuses: Submitted, Pending Direct Supervisor Review, HR Review, Sent for Union Review, Ready for SSC, Rejected</description>
        <name>Eligible_Status</name>
        <label>Eligible Status?</label>
        <locationX>857</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>You_Cannot_Return_the_Award_to_the_RO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_Eligible_Status</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 9 OR 10) AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Direct Supervisor Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HR Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Union Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for FPPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash_Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QSI_Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time_Off_Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Bulk Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Approval_Process_Check</targetReference>
            </connector>
            <label>Within Eligible Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the award is in an approval status</description>
        <name>In_Approval_Process_Check</name>
        <label>In Approval Process?</label>
        <locationX>1042</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Get_RO_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Approval_Process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCurrent_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Direct Supervisor Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sent_Back_to_RO_on_Award</targetReference>
            </connector>
            <label>In Approval Process</label>
        </rules>
    </decisions>
    <description>Flow that sends the award back to the requesting official if the HR analyst determines it requires a change and re-submission. Version without perm sets. Fault on get current records</description>
    <formulas>
        <name>Org_Url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>vCurrentRecord</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <formulas>
        <description>get current user id</description>
        <name>vUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>ARTT Send Back to RO v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTT Send Back to RO v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Collect current record data</description>
        <name>Get_Current_Record_Data</name>
        <label>Get Current Record Data</label>
        <locationX>214</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Record_Type_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Award__c</object>
        <outputAssignments>
            <assignToReference>vCurrent_Record_Type</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRO_Id</assignToReference>
            <field>Requesting_Official__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCurrent_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the email address of the current user</description>
        <name>Get_Current_User_Email</name>
        <label>Get Current User Email</label>
        <locationX>489</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligible_Status</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vCurrent_User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the Requesting Officials email address</description>
        <name>Get_RO_Email</name>
        <label>Get RO Email</label>
        <locationX>1253</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Bypass_to_True</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRO_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vRO_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_Name</name>
        <label>Lookup Record Type Name</label>
        <locationX>489</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCurrent_Record_Type</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vCurrent_Record_Type_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Clear record values and change status back to planned.</description>
        <name>ARTT_Clear_Values</name>
        <label>ARTT Clear Values</label>
        <locationX>1216</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Send_Email_to_RO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Ready_for_Bulk_Upload__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Ready_for_FPPS__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IOAA_Approval_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_Back_to_RO_Filter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Approval_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Union_Review_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Union_Review_Status__c</field>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_to_True</name>
        <label>Set Bypass to True</label>
        <locationX>1248</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Email_Notification_to_RO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bypass_Validation_to_False</name>
        <label>Set Bypass Validation to False</label>
        <locationX>1478</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Process_Finished</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Checks the Sent Back to RO field on award to trigger apex that rejects any pending approvals</description>
        <name>Update_Sent_Back_to_RO_on_Award</name>
        <label>Update Sent Back to RO on Award</label>
        <locationX>1052</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_RO_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sent_Back_to_RO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <screens>
        <name>Email_Notification_to_RO</name>
        <label>Email Notification to RO</label>
        <locationX>1214</locationX>
        <locationY>530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ARTT_Clear_Values</targetReference>
        </connector>
        <fields>
            <name>Recipient_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recipient Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>vRO_Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>vRO_Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vRO_Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RO_Email_Subject</name>
            <dataType>String</dataType>
            <fieldText>Email Subject:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please provide a subject for the email sent to the RO.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provide_Reasoning_for_Sending_the_Award_Back_to_the_RO</name>
            <defaultValue>
                <stringValue>

{!Send_Back_To_RO_RecordLink}</stringValue>
            </defaultValue>
            <fieldText>Reasoning (Body)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please provide reasoning for sending the award back to the RO. This will be the body of the email.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault_message</name>
        <label>fault message</label>
        <locationX>218</locationX>
        <locationY>238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fault</name>
            <fieldText>{!FaultText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Process_Finished</name>
        <label>Process Finished</label>
        <locationX>1600</locationX>
        <locationY>688</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished_Text</name>
            <fieldText>The award has been sent back to the RO and they have been notified.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error message if the award cannot be returned to the RO.</description>
        <name>You_Cannot_Return_the_Award_to_the_RO</name>
        <label>You Cannot Return the Award to the RO</label>
        <locationX>864</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RO_Return_Error</name>
            <fieldText>Awards that are in the Planned, Entered into FPPS, or Bulk Uploaded, or Paid status cannot be returned to the Requesting Official (RO).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Current_Record_Data</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>FaultText</name>
        <text>&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot;&gt;
&lt;B&gt;You do not have permission to send the award back to the RO.&lt;/B&gt;
&lt;/FONT&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Send_Back_To_RO_RecordLink</name>
        <text>Regarding: {!Org_Url}{!recordId}</text>
    </textTemplates>
    <variables>
        <name>colpermsetsloop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>coluserpermsets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>vApprovalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Get the current record type for the flow record</description>
        <name>vCurrent_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vCurrent_Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Get the current status of the flow record</description>
        <name>vCurrent_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vCurrent_User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vpermeligible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vpermsetname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRO_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
