flows/ARTT_Award_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Group_Award_Contact_IDs_to_Collection</name>
        <label>Assign Group Award Contact IDs to Collection</label>
        <locationX>497</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee2_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee3_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee4_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee5_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee6_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee7_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee8_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee9_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupAwardeeId_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAwardee10_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Number_of_Group_Awardees_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Group_Awardees_to_Variable</name>
        <label>Assign Number of Group Awardees to Variable</label>
        <locationX>295</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>vNumberofGroupAwardees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Group_Awardees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_Awardees</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cash_Award</name>
        <choiceText>Cash Award</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash_Award</stringValue>
        </value>
    </choices>
    <choices>
        <name>QSI_Award</name>
        <choiceText>QSI Award</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QSI_Award</stringValue>
        </value>
    </choices>
    <choices>
        <name>Time_Off_Award</name>
        <choiceText>Time Off Award</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Time_Off_Award</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Group_Award_Decision</name>
        <label>Group Award Decision</label>
        <locationX>898</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_Group_Award</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGroupAwardChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Awardees</targetReference>
            </connector>
            <label>Is a Group Award</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1285</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cash_Award_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cash_Award</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cash_Award_Screen</targetReference>
            </connector>
            <label>Cash Award Selected</label>
        </rules>
        <rules>
            <name>Time_Off_Award_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Time_Off_Award</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Off_Award_Screen</targetReference>
            </connector>
            <label>Time Off Award Selected</label>
        </rules>
        <rules>
            <name>QSI_Award_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QSI_Award</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QSI_Award_Screen</targetReference>
            </connector>
            <label>QSI Award Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Award_Record_Types</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SobjectType</picklistField>
        <picklistObject>RecordType</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_10</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_10_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee10_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_2_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee2_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_3</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_3_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee3_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_4</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_4_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee4_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_5</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_5_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee5_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_6</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_6_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee6_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_7</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_7_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee7_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_8</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_8_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee8_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_9</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_9_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee9_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Awardee_Search_Results</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Awardee_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAwardee_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Cinc_Office_Just</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cincinnati_Office_Justification__c</picklistField>
        <picklistObject>Award__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Requesting_Official</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Requesting_Official_Search</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vRO_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Number_of_Group_Awardees</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_Group_Awardees__c</picklistField>
        <picklistObject>Group_Award__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofBenefit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Benefit__c</picklistField>
        <picklistObject>Award__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValueandApplication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Value_and_Application__c</picklistField>
        <picklistObject>Award__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>If cash award is blank then $0</description>
        <name>vCashAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!Cash_Award_Amount}), 0, {!Cash_Award_Amount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>vCompositeSupervisorJustification</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Supervisor_Justification}), IF(ISBLANK({!Supervisor_Justification_TO}), {!Supervisor_Justification_QSI}, {!Supervisor_Justification_TO}), {!Supervisor_Justification})</expression>
    </formulas>
    <formulas>
        <name>vQSI_TRUE</name>
        <dataType>Boolean</dataType>
        <expression>IF({!QSI_Award_Selected}=TRUE, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <description>If TO Amount is blank then 0</description>
        <name>vTOAmount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Time_Off_Amount}),0,{!Time_Off_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ARTT - Award Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARTT - Award Creation</label>
    <loops>
        <name>Loop_Group_Awardees</name>
        <label>Loop Group Awardees</label>
        <locationX>180</locationX>
        <locationY>709</locationY>
        <assignNextValueToReference>vNumberofGroupAwardees</assignNextValueToReference>
        <collectionReference>vGroupAwardeeId_Col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Group_Award_2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Group_Award_2</name>
        <label>Create Group Award 2</label>
        <locationX>732</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>Emp_Name__c</field>
            <value>
                <elementReference>vAwardee2_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates the group award record that will be referenced by the individual awards</description>
        <name>Create_the_Group_Award_Record</name>
        <label>Create the Group Award Record</label>
        <locationX>733</locationX>
        <locationY>608</locationY>
        <assignRecordIdToReference>vGroup_Award_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Group_Award_Contact_IDs_to_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Group_Award_Name__c</field>
            <value>
                <elementReference>Group_Award_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Group_Award__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAward</name>
        <label>Create Award</label>
        <locationX>1294</locationX>
        <locationY>627</locationY>
        <assignRecordIdToReference>Record_Id</assignRecordIdToReference>
        <connector>
            <targetReference>New_Award_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Cash_Award_Amount__c</field>
            <value>
                <elementReference>vCashAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cincinnati_Office_Justification__c</field>
            <value>
                <elementReference>Cincinnati_Office_Justification_Select</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emp_Name__c</field>
            <value>
                <elementReference>vAwardee_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QSI__c</field>
            <value>
                <elementReference>vQSI_TRUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Official__c</field>
            <value>
                <elementReference>vRO_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Justification__c</field>
            <value>
                <elementReference>vCompositeSupervisorJustification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Off_Amount__c</field>
            <value>
                <elementReference>vTOAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Benefit__c</field>
            <value>
                <elementReference>Type_of_Benefit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_and_Application__c</field>
            <value>
                <elementReference>Value_and_Application</elementReference>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordCreates>
    <recordLookups>
        <name>Record_Type_Assignment</name>
        <label>Record Type Assignment</label>
        <locationX>1294</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAward</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Record_Type</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Award_Record_Type</name>
        <label>Award Record Type</label>
        <locationX>1066</locationX>
        <locationY>63</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <fields>
            <name>Choose_Record_Type</name>
            <choiceReferences>Cash_Award</choiceReferences>
            <choiceReferences>Time_Off_Award</choiceReferences>
            <choiceReferences>QSI_Award</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cash_Award_Screen</name>
        <label>Cash Award</label>
        <locationX>1133</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>Type_of_Benefit</name>
            <choiceReferences>TypeofBenefit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Benefit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Value_and_Application</name>
            <choiceReferences>ValueandApplication</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Value and Application</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supervisor_Justification</name>
            <fieldText>Supervisor Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cincinnati_Office_Justification_Select</name>
            <choiceReferences>Choice_Cinc_Office_Just</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cincinnati Office Justification</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cash_Award_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Cash Award Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Group_Awardees</name>
        <label>Name the Group Award and Search for Group Awardees</label>
        <locationX>733</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Group_Awardees</targetReference>
        </connector>
        <fields>
            <name>Group_Award_Name</name>
            <dataType>String</dataType>
            <fieldText>Group Award Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please provide a name for the group award.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Group_Awardees</name>
            <choiceReferences>Picklist_Number_of_Group_Awardees</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of Group Awardees</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Please indicate the number of group awardees including the awardee already selected.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Awardee_2_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #2</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_3_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #3</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_4_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #4</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_5_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #5</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_6_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #6</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_7_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #7</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_8_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #8</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_9_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #9</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Awardee_10_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee #10</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by First and Last Name</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Award_Created</name>
        <label>New Award Created</label>
        <locationX>1485</locationX>
        <locationY>627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Please review the award and submit it when ready.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QSI_Award_Screen</name>
        <label>QSI Award</label>
        <locationX>1537</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>Supervisor_Justification_QSI</name>
            <fieldText>Supervisor Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Requesting_Official_and_Awardee</name>
        <label>Requesting Official and Awardee</label>
        <locationX>744</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Requesting_Official_and_Awardee</targetReference>
        </connector>
        <fields>
            <name>Requesting_Official_Search</name>
            <dataType>String</dataType>
            <fieldText>Requesting Official Search</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by Last Name</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Awardee_Search</name>
            <dataType>String</dataType>
            <fieldText>Awardee Search</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Search by Last Name</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Group_Awardees</name>
        <label>Select Group Awardees</label>
        <locationX>733</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_the_Group_Award_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Awardee_2</name>
            <choiceReferences>Choice_Awardee_2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #2</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_3</name>
            <choiceReferences>Choice_Awardee_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #3</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_4</name>
            <choiceReferences>Choice_Awardee_4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #4</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_5</name>
            <choiceReferences>Choice_Awardee_5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #5</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_6</name>
            <choiceReferences>Choice_Awardee_6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #6</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_7</name>
            <choiceReferences>Choice_Awardee_7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #7</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_8</name>
            <choiceReferences>Choice_Awardee_8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #8</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_9</name>
            <choiceReferences>Choice_Awardee_9</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #9</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Awardee_10</name>
            <choiceReferences>Choice_Awardee_10</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Awardee #10</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Requesting_Official_and_Awardee</name>
        <label>Select Requesting Official and Awardee</label>
        <locationX>911</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Award_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Select_the_Requesting_Official</name>
            <choiceReferences>Choice_Requesting_Official</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Requesting Official</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_the_Awardee</name>
            <choiceReferences>Choice_Awardee_Search_Results</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Awardee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Off_Award_Screen</name>
        <label>Time Off Award</label>
        <locationX>1294</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>Supervisor_Justification_TO</name>
            <fieldText>Supervisor Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Time_Off_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Time Off Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Requesting_Official_and_Awardee</startElementReference>
    <status>Active</status>
    <variables>
        <name>ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Award__c</objectType>
    </variables>
    <variables>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee10_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee2_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee3_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee4_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee5_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee6_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee7_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee8_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee9_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAwardee_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vGroup_Award_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vGroupAwardChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>vGroupAwardeeId_Col</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vGroupAwardeeID_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNumberofGroupAwardees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRO_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
