flows/Create_STAA_Author.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Author</name>
        <label>Assign Author</label>
        <locationX>243</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.Cover_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vrCoverFormRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.Laboratory_Office_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.CompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovrAuthor.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.Pricipal_Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovrAuthorContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vrAuthorRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Author</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create STAA Author {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create STAA Author 3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Author</name>
        <label>Create Author</label>
        <locationX>443</locationX>
        <locationY>248</locationY>
        <inputReference>sovrAuthorContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Author_Record_ID_From_Name</name>
        <label>Get Author Record ID From Name</label>
        <locationX>58</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Data</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STAA_Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vrAuthorRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Cover_Form_Record</name>
        <label>Get Cover Form Record</label>
        <locationX>58</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Author_Record_ID_From_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrCoverFormRecordId</elementReference>
            </value>
        </filters>
        <object>Cover_Form__c</object>
        <outputAssignments>
            <assignToReference>vrCoverFormOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Data</name>
        <label>Get Owner Data</label>
        <locationX>57</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Author</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vrCoverFormOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>sovrAuthor.CompanyName</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovrAuthor.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovrAuthor.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovrAuthor.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovrAuthor.MiddleName</assignToReference>
            <field>MiddleName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovrAuthor.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovrAuthor.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Cover_Form_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>sovrAuthor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>sovrAuthorContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vrAuthorRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrCoverFormOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vrCoverFormRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
