flows/DCR_PCORS_Record_Transfer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DOC_FAULT_EMAIL</name>
        <label>DOC FAULT EMAIL</label>
        <locationX>1139</locationX>
        <locationY>264</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FaultEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>BEN.ANDERSON@FEDSIGHT.COM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PCORS-DCR INTEGRATION FAULT</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>vBCLiRecId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012t000000009OiAAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>vBCRecId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012t000000007pkAAA</stringValue>
        </value>
    </constants>
    <constants>
        <description>OTAQ Allowance Holder to compare against the first two Org Code digits</description>
        <name>vOTAQAH</name>
        <dataType>String</dataType>
        <value>
            <stringValue>56</stringValue>
        </value>
    </constants>
    <constants>
        <name>vPCORSCreated</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>vVendorRecId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012t000000009ObAAI</stringValue>
        </value>
    </constants>
    <decisions>
        <description>If a document exists, do not create a document, simply create a line item under the doc. If a document doesn&apos;t exist create a document and line item.</description>
        <name>Document_Exist</name>
        <label>Document Exist?</label>
        <locationX>192</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Lookup_Match_LI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Document_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDocId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vendor_Name</targetReference>
            </connector>
            <label>Create Document Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Line_Item_Exists</name>
        <label>Line Item Exists?</label>
        <locationX>780</locationX>
        <locationY>845</locationY>
        <defaultConnector>
            <targetReference>Update_DCR_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Line_Item_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vLIid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Line_Item</targetReference>
            </connector>
            <label>No Line Item Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_Blank</name>
        <label>Vendor Blank?</label>
        <locationX>310</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Lookup_Vendor_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vendor_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPCORSvendorBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bankcard_Holder_user</targetReference>
            </connector>
            <label>Vendor Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_Exists</name>
        <label>Vendor Exists?</label>
        <locationX>187</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Create_Vendor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vendor_Exists_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vVendorId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bankcard_Holder_user</targetReference>
            </connector>
            <label>Vendor Exists</label>
        </rules>
    </decisions>
    <description>Automatically generates DCR records based on PCORS Accounting Lines</description>
    <formulas>
        <name>vALurl</name>
        <dataType>String</dataType>
        <expression>&apos;https://epaoei--oarotaqio.lightning.force.com/lightning/r/Accounting_Line__c/&apos;&amp;{!vALid}&amp;&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>vOpPlanYear</name>
        <dataType>String</dataType>
        <expression>TEXT( 
CASE( MONTH(TODAY()), 
1, (YEAR(TODAY())), 
2, (YEAR(TODAY())), 
3, (YEAR(TODAY())), 
4, (YEAR(TODAY())), 
5, (YEAR(TODAY())), 
6, (YEAR(TODAY())), 
7, (YEAR(TODAY())), 
8, (YEAR(TODAY())), 
9, (YEAR(TODAY())), 
(YEAR(TODAY()))+1))</expression>
    </formulas>
    <formulas>
        <name>vPCORS_AH</name>
        <dataType>String</dataType>
        <expression>LEFT({!vBudgetOrg},2)</expression>
    </formulas>
    <formulas>
        <name>vPCORS_AHRC</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!vBudgetOrg},3))</expression>
    </formulas>
    <formulas>
        <name>vPCORSappr</name>
        <dataType>String</dataType>
        <expression>UPPER({!vApprop})</expression>
    </formulas>
    <formulas>
        <name>vPCORSbudorg</name>
        <dataType>String</dataType>
        <expression>UPPER({!vBudgetOrg})</expression>
    </formulas>
    <formulas>
        <name>vPCORSfoc</name>
        <dataType>String</dataType>
        <expression>UPPER({!vBOC})</expression>
    </formulas>
    <formulas>
        <name>vPCORSprc</name>
        <dataType>String</dataType>
        <expression>UPPER({!vPRC})</expression>
    </formulas>
    <formulas>
        <name>vPCORSvendorBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!vPCORSvendor})</expression>
    </formulas>
    <interviewLabel>DCR - PCORS Record Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCR - PCORS Record Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>1025</locationX>
        <locationY>268</locationY>
        <assignRecordIdToReference>vDocId</assignRecordIdToReference>
        <connector>
            <targetReference>PCORS_bbfyebfy_DCR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DOC_FAULT_EMAIL</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Allowance_Holder__c</field>
            <value>
                <elementReference>vDCR_AH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bankcard_Holder__c</field>
            <value>
                <elementReference>vBC_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>vDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCN__c</field>
            <value>
                <elementReference>vDCN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Preparer__c</field>
            <value>
                <elementReference>vFCO_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vBCRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>vRequester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Record__c</field>
            <value>
                <elementReference>vVendorId</elementReference>
            </value>
        </inputAssignments>
        <object>Document__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>556</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>AHRC__c</field>
            <value>
                <elementReference>vDCR_AHRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allowance_Holder__c</field>
            <value>
                <elementReference>vDCR_AH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>vLineItemAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appropriation__c</field>
            <value>
                <elementReference>vDCR_Appr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BBFY_EBFY__c</field>
            <value>
                <elementReference>vDCRbbfyebfy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Org__c</field>
            <value>
                <elementReference>vDCR_BudOrg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCR_Document__c</field>
            <value>
                <elementReference>vDocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCR_PCORS_AL_Id__c</field>
            <value>
                <elementReference>vALid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FOC__c</field>
            <value>
                <elementReference>vDCR_FOC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Op_Plan_Year__c</field>
            <value>
                <elementReference>vDCR_OpYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCORS_Auto_Created__c</field>
            <value>
                <elementReference>vPCORSCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC__c</field>
            <value>
                <elementReference>vDCR_PRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vBCLiRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Code__c</field>
            <value>
                <elementReference>vSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Accounting_Line__c</field>
            <value>
                <elementReference>vALurl</elementReference>
            </value>
        </inputAssignments>
        <object>Line_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vendor</name>
        <label>Create Vendor</label>
        <locationX>193</locationX>
        <locationY>125</locationY>
        <assignRecordIdToReference>vVendorId</assignRecordIdToReference>
        <connector>
            <targetReference>Bankcard_Holder_user</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vPCORSvendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vVendorRecId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>AH_Transform</name>
        <label>AH Transform</label>
        <locationX>923</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document</targetReference>
        </connector>
        <filters>
            <field>PCORS_AH__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORS_AH</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_AH__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_AH</assignToReference>
            <field>DCR_AH__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AH_Transform_Line_Item</name>
        <label>AH Transform Line Item</label>
        <locationX>999</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AHRC_Transform</targetReference>
        </connector>
        <filters>
            <field>PCORS_AH__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORS_AH</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_AH__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_AH</assignToReference>
            <field>DCR_AH__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AHRC_Transform</name>
        <label>AHRC Transform</label>
        <locationX>1001</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appr_Transform</targetReference>
        </connector>
        <filters>
            <field>PCORS_AHRC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORS_AHRC</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_AHRC__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_AHRC</assignToReference>
            <field>DCR_AHRC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Appr_Transform</name>
        <label>Appr Transform</label>
        <locationX>875</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Transform</targetReference>
        </connector>
        <filters>
            <field>PCORS_APPR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORSappr</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_APPR__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_Appr</assignToReference>
            <field>DCR_APPR__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Bankcard_Holder_user</name>
        <label>Bankcard Holder_user</label>
        <locationX>326</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BC_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <object>Order_Request__c</object>
        <outputAssignments>
            <assignToReference>vBC_Holder</assignToReference>
            <field>Card_Holder__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>BC_Contact</name>
        <label>BC Contact</label>
        <locationX>443</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FCO_User</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vBC_Holder</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vBC_Contact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FCO_Contact</name>
        <label>FCO Contact</label>
        <locationX>580</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requester_User_Id</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFCO</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vFCO_Contact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FCO_User</name>
        <label>FCO_User</label>
        <locationX>448</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FCO_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <object>Order_Request__c</object>
        <outputAssignments>
            <assignToReference>vFCO</assignToReference>
            <field>FCO__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FOC_Transform</name>
        <label>FOC Transform</label>
        <locationX>997</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRC_Transform</targetReference>
        </connector>
        <filters>
            <field>PCORS_FOC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORSfoc</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_FOC__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_FOC</assignToReference>
            <field>DCR_FOC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets Accounting Lines from PCORS</description>
        <name>Get_Accounting_Lines_from_PCORS</name>
        <label>Get Accounting Lines from PCORS</label>
        <locationX>50</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Matching_DCN</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vALid</elementReference>
            </value>
        </filters>
        <object>Accounting_Line__c</object>
        <outputAssignments>
            <assignToReference>vLineItemAmount</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDCN</assignToReference>
            <field>DCN_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDescription</assignToReference>
            <field>FCO_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPCORSbfy</assignToReference>
            <field>Fiscal_Year__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vApprop</assignToReference>
            <field>Fund__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vALid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vALRecord</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBOC</assignToReference>
            <field>Object_Class__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vBudgetOrg</assignToReference>
            <field>Oraganization_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderId</assignToReference>
            <field>Order_Request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPRC</assignToReference>
            <field>PRC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSite</assignToReference>
            <field>Site_Project__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Vendor_Name</name>
        <label>Get Vendor Name</label>
        <locationX>201</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_Blank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <object>Order_Request__c</object>
        <outputAssignments>
            <assignToReference>vPCORSvendor</assignToReference>
            <field>Vendor_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Look up to see if this is an existing line item to determine if a new line item should be created or if an existing line item should be updated</description>
        <name>Lookup_Match_LI</name>
        <label>Lookup Match LI</label>
        <locationX>408</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PCORS_bbfyebfy_DCR</targetReference>
        </connector>
        <filters>
            <field>DCR_PCORS_AL_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vALid</elementReference>
            </value>
        </filters>
        <object>Line_Item__c</object>
        <outputAssignments>
            <assignToReference>vLIid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Queries the Document Object by the DCN from the PCORS Accounting Line to determine if a Document already exists.</description>
        <name>Lookup_Matching_DCN</name>
        <label>Lookup Matching DCN</label>
        <locationX>50</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Exist</targetReference>
        </connector>
        <filters>
            <field>DCN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vDCN</elementReference>
            </value>
        </filters>
        <object>Document__c</object>
        <outputAssignments>
            <assignToReference>vDocId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Vendor_Record</name>
        <label>Lookup Vendor Record</label>
        <locationX>482</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_Exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORSvendor</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vVendorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Op_Plan_Year</name>
        <label>Op Plan Year</label>
        <locationX>890</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Line_Item_Exists</targetReference>
        </connector>
        <filters>
            <field>PCORS_Op_Plan_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpPlanYear</elementReference>
            </value>
        </filters>
        <object>DCR_Op_Plan_Year__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_OpYear</assignToReference>
            <field>DCR_Op_Plan_Year__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Org_Transform</name>
        <label>Org Transform</label>
        <locationX>877</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOC_Transform</targetReference>
        </connector>
        <filters>
            <field>PCORS_BO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORSbudorg</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_BO__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_BudOrg</assignToReference>
            <field>DCR_BO__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PCORS_bbfyebfy_DCR</name>
        <label>PCORS bbfyebfy DCR</label>
        <locationX>870</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AH_Transform_Line_Item</targetReference>
        </connector>
        <filters>
            <field>PCORS_B__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORSbfy</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_BBFYEBFY__mdt</object>
        <outputAssignments>
            <assignToReference>vDCRbbfyebfy</assignToReference>
            <field>DCR_BBFY_EBFY__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PRC_Transform</name>
        <label>PRC Transform</label>
        <locationX>999</locationX>
        <locationY>845</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Op_Plan_Year</targetReference>
        </connector>
        <filters>
            <field>PCORS_PRC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPCORSprc</elementReference>
            </value>
        </filters>
        <object>DCR_PCORS_PRC__mdt</object>
        <outputAssignments>
            <assignToReference>vDCR_PRC</assignToReference>
            <field>DCR_PRC__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requester</name>
        <label>Requester</label>
        <locationX>816</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AH_Transform</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOwner_id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vRequester</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Requester_User_Id</name>
        <label>Requester_User_Id</label>
        <locationX>696</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requester</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <object>Order_Request__c</object>
        <outputAssignments>
            <assignToReference>vOwner_id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the existing DCR line item if the PCORS accounting line was changed</description>
        <name>Update_DCR_Line_Item</name>
        <label>Update DCR Line Item</label>
        <locationX>565</locationX>
        <locationY>731</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLIid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AHRC__c</field>
            <value>
                <elementReference>vDCR_AHRC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allowance_Holder__c</field>
            <value>
                <elementReference>vDCR_AH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>vLineItemAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appropriation__c</field>
            <value>
                <elementReference>vApprop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BBFY_EBFY__c</field>
            <value>
                <elementReference>vDCRbbfyebfy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Org__c</field>
            <value>
                <elementReference>vDCR_BudOrg</elementReference>
            </value>
        </inputAssignments>
        <object>Line_Item__c</object>
    </recordUpdates>
    <startElementReference>Get_Accounting_Lines_from_PCORS</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Email template for fault messages</description>
        <name>FaultEmail</name>
        <text>Error: {!$Flow.FaultMessage}
RESOURCE VALUES
ACCOUNTING LINE ID: {!vALurl}
DCN: {!vDCN}
ORG: {!vPCORSbudorg}
VENDOR: {!vPCORSvendor}
APPR: {!vPCORSappr}
FOC: {!vPCORSfoc}
PRC: {!vPCORSprc}
BFY: {!vPCORSbfy}</text>
    </textTemplates>
    <variables>
        <name>vALid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vALRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vApprop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vBC_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vBC_Holder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vBOC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores ORG Code from PCORS for DCR BudgetOrg</description>
        <name>vBudgetOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores DCN from PCORS for DCR</description>
        <name>vDCN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCR_AH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCR_AHRC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCR_Appr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCR_BudOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCR_FOC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCR_OpYear</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDCR_PRC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDCRbbfyebfy</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets FCO comment from pcors for dcr description</description>
        <name>vDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFCO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFCO_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores Amount for Line Item</description>
        <name>vLineItemAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vOwner_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPCORSbfy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPCORSuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPCORSvendor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPRC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRequester</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vVendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
