flows/FTTA_Notify_the_Secondary_PI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>FTTA_Email_notification_to_secondary_PI_At_Signature</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify Secondary PI</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>EPA_Agreement__c.FTTA_Email_notification_to_secondary_PI_At_Signature</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>When At Signature and Secondary PI</label>
        </rules>
    </decisions>
    <description>FTTA. Create for the email notification for the secondary PI at signature for the agreement.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(

AND(
	[EPA_Agreement__c].RecordType.DeveloperName  ==&apos;FTTA_EPA_Agreement&apos;,

	AND(
		ISPICKVAL([EPA_Agreement__c].Status__c, &apos;At Signature&apos;),
		ISCHANGED([EPA_Agreement__c].Status__c),
        NOT(ISBLANK([EPA_Agreement__c].Principal_Investigator_2__c))
		
	)	

	)

,true,false)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>IF(

AND(
	{!myVariable_current.RecordType.DeveloperName}  ==&apos;FTTA_EPA_Agreement&apos;,

	AND(
		ISPICKVAL({!myVariable_current.Status__c}, &apos;At Signature&apos;),
		ISCHANGED({!myVariable_current.Status__c}),
        NOT(ISBLANK({!myVariable_current.Principal_Investigator_2__c}))
		
	)	

	)

,true,false)</expression>
    </formulas>
    <interviewLabel>FTTA_Notify_the_Secondary_PI-1_InterviewLabel</interviewLabel>
    <label>FTTA_Notify the Secondary PI</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EPA_Agreement__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EPA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EPA_Agreement__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
