flows/Lookup_BAP_Application_approver.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setAppOwnerApprover</name>
        <label>setAppOwnerApprover</label>
        <locationX>510</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>varAppApprover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAppOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAppUserApprover</name>
        <label>setAppUserApprover</label>
        <locationX>507</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>varUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserApprover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_approver</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApproverIsNull</name>
        <label>ApproverIsNull</label>
        <locationX>424</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>update_approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ApproverFound</defaultConnectorLabel>
        <rules>
            <name>IfApproverIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnFault_Lookup</targetReference>
            </connector>
            <label>IfApproverIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeploymentCheck</name>
        <label>DeploymentCheck</label>
        <locationX>446</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Determine_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotDeployment</defaultConnectorLabel>
        <rules>
            <name>IsDeployment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeployment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAppOwnerApprover</targetReference>
            </connector>
            <label>IsDeployment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Approver</name>
        <label>Determine Approver</label>
        <locationX>355</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>setAppUserApprover</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UserApproverNotNull</defaultConnectorLabel>
        <rules>
            <name>NullUserApprover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserApprover</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAppOwnerApprover</targetReference>
            </connector>
            <label>NullUserApprover</label>
        </rules>
    </decisions>
    <decisions>
        <name>NullApplication</name>
        <label>NullApplication</label>
        <locationX>134</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Lookup_Application_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AppNameNotNull</defaultConnectorLabel>
        <rules>
            <name>IfAppNameNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAppName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnFault_Lookup</targetReference>
            </connector>
            <label>IfAppNameNull</label>
        </rules>
    </decisions>
    <description>Lookup BAP Application approver</description>
    <interviewLabel>Lookup BAP Application approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup BAP Application approver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get_contact</label>
        <locationX>673</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAppApprover</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varLanId</assignToReference>
            <field>LAN_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get_User</label>
        <locationX>702</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApproverIsNull</targetReference>
        </connector>
        <filters>
            <field>LAN_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLanId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Application_Approver</name>
        <label>Lookup Application Approver</label>
        <locationX>243</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeploymentCheck</targetReference>
        </connector>
        <filters>
            <field>Application_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAppName</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>varUserApprover</assignToReference>
            <field>Application_Approver__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAppOwner</assignToReference>
            <field>Primary_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OnFault_Lookup</name>
        <label>OnFault Lookup</label>
        <locationX>32</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_approver</targetReference>
        </connector>
        <filters>
            <field>LAN_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rking07</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_approver</name>
        <label>update approver</label>
        <locationX>525</locationX>
        <locationY>605</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver_1__c</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Forms__c</object>
    </recordUpdates>
    <startElementReference>NullApplication</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAppApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDeployment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varUserApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
