flows/ORD_GAS_Order_Request_Totals.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Totals</name>
        <label>Add Totals</label>
        <locationX>413</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>varQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvareOrderItem.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvareOrderItem.Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_eOrder_Items</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ORD GAS Order Request Totals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORD GAS Order Request Totals</label>
    <loops>
        <name>Loop_through_eOrder_Items</name>
        <label>Loop through eOrder Items</label>
        <locationX>133</locationX>
        <locationY>147</locationY>
        <assignNextValueToReference>loopvareOrderItem</assignNextValueToReference>
        <collectionReference>sovareOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_eOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Related_eOrder_Items</name>
        <label>Lookup Related eOrder Items</label>
        <locationX>79</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_eOrder_Items</targetReference>
        </connector>
        <filters>
            <field>Order_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderRequestID</elementReference>
            </value>
        </filters>
        <object>eOrder_Item__c</object>
        <outputReference>sovareOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Total_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_eOrder</name>
        <label>Update eOrder</label>
        <locationX>154</locationX>
        <locationY>261</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Request_Total__c</field>
            <value>
                <elementReference>varPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Request__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Related_eOrder_Items</startElementReference>
    <status>Draft</status>
    <variables>
        <name>loopvareOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>eOrder_Item__c</objectType>
    </variables>
    <variables>
        <name>sovareOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>eOrder_Item__c</objectType>
    </variables>
    <variables>
        <name>varOrderRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
